nav {
  padding-left: 1vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(225, 153, 40, 0.75)), to(rgba(173, 15, 0, 0.75)));
  background: linear-gradient(to right, rgba(225, 153, 40, 0.75), rgba(173, 15, 0, 0.75));
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
}

nav .logo {
  color: #f4f1ec;
  text-shadow: 2px 2px rgba(173, 15, 0, 0.75);
  font-family: "Poppins";
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  top: 1em;
  left: 1.2em;
}

nav .birdie-container {
  cursor: pointer;
  /* Compose Tweet Think Bubbles / logic by Grant @
https://freefrontend.com/css-speech-bubbles/ */
}

nav .birdie-container #compose-tweet {
  position: absolute;
  right: 9%;
  min-width: 200px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 60%;
  font-weight: bolder;
  color: #343a35;
  background-color: #f4f1ec;
  padding: 20px;
  border-radius: 30px;
  margin-top: 25px;
}

nav .birdie-container #compose-tweet:before {
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  -webkit-box-shadow: -50px 30px 0 -12px #f4f1ec;
          box-shadow: -50px 30px 0 -12px #f4f1ec;
}

nav .birdie-container #compose-tweet:after {
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 40px -34px 0 0 #f4f1ec, -28px -6px 0 -2px #f4f1ec, -24px 17px 0 -6px #f4f1ec, -5px 25px 0 -10px #f4f1ec;
          box-shadow: 40px -34px 0 0 #f4f1ec, -28px -6px 0 -2px #f4f1ec, -24px 17px 0 -6px #f4f1ec, -5px 25px 0 -10px #f4f1ec;
}

nav .birdie-container #compose-tweet:hover {
  color: #ad0f00;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media only screen and (max-width: 1000px) {
  nav {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(173, 15, 0, 0.75)), to(rgba(225, 153, 40, 0.75)));
    background: linear-gradient(rgba(173, 15, 0, 0.75), rgba(225, 153, 40, 0.75));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo {
    font-size: 200%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 30%;
    left: 0px;
  }
  nav .birdie-container {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */