$primary-color: #f4f1e0;
$secondary-color: #343a35;

.profile {
  position: sticky;
  top: 120px;
  height: calc(100vh - 120px);
  width: 30vw;
  background-color: $primary-color;
  background-image: url("../images/clean-gray-paper.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  #profile-pic {
    background-image: url("../images/arches.png");
    border-color: rgba(173, 15, 0, 0.75);
    border-radius: 50%;
    border-style: solid;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    min-height: auto;
    transition: all 0.5s ease;
    width: 15vw;
    &:hover {
      transform: scale(1.03);
    }
  }

  h2 {
    box-sizing: border-box;
    color: $secondary-color;
    font-size: 2vw;
    padding: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    height: 40vh;
    position: relative;
    top: 0px;
    width: 100wv;
    #profile-pic {
      background-color: $primary-color;
      background-image: url("../images/arches.png");
      border-radius: 50%;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2);
      flex-shrink: 1;
      width: 25vh;
    }
  }
  h2 {
    display: flex;
    flex-shrink: 1;
    font-size: smaller;
    margin: 0px;
  }
}
