.new-tweet {
  margin-bottom: 6%;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  color: #343a35;
  background-color: #f4f1e0;
  background-image: url("../images/clean-gray-paper.png");
}

#tweet-text {
  outline: none;
  overflow: auto;
  border: none;
  border-radius: 20px;
  margin: 1rem;
  margin-bottom: 0rem;
  padding: 0.9rem;
  background-color: inherit;
  background-image: url("../images/clean-gray-paper.png");
}

.button-counter {
  width: 16rem;
  padding: 1rem 0rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  color: inherit;
  font-size: smaller;
}

form button {
  width: 60%;
  padding: 0.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  background-color: #ad0f00;
  color: #f4f1e0;
}

/* The alert message box */
#alert {
  width: 100%;
  padding: 20px;
  background-color: #ad0f00;
  color: #f4f1e0;
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 80%;
}

@media only screen and (max-width: 1000px) {
  .new-tweet {
    width: 93vw;

    margin-bottom: 6%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tweet-form {
    width: 93vw;
  }

  #tweet-text {
    min-height: 20vh;
    width: 93vw;
  }
}
