#navbar {
  padding-left: 1vw;
  /* There is no padding right for the little toucan */
  position: fixed;
  z-index: 9999;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(225, 153, 40, 0.75),
    rgba(173, 15, 0, 0.75)
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Compose Tweet Think Bubbles / logic by Grant @
https://freefrontend.com/css-speech-bubbles/ */
#compose-tweet {
  position: absolute;
  right: 9%;
  min-width: 200px;
  transition: all 0.5s ease;
  font-size: 60%;
  font-weight: bolder;
  color: #343a35;
  background-color: #f4f1ec;
  padding: 20px;
  border-radius: 30px;
  margin-top: 25px;
}
#compose-tweet:before,
#compose-tweet:after {
  content: "";
  background-color: #f4f1ec;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}
#compose-tweet:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #f4f1ec;
}
#compose-tweet:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #f4f1ec, -28px -6px 0 -2px #f4f1ec,
    -24px 17px 0 -6px #f4f1ec, -5px 25px 0 -10px #f4f1ec;
}

#compose-tweet:hover {
  color: #ad0f00;
  transform: scale(1.03);
}

.birdie-container {
  cursor: pointer;
}

.logo {
  color: #f4f1ec;
  text-shadow: 2px 2px rgba(173, 15, 0, 0.75);
  font-family: "Poppins";
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  top: 1em;
  left: 1.2em;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  nav {
    background: linear-gradient(
      rgba(173, 15, 0, 0.75),
      rgba(225, 153, 40, 0.75)
    );
    justify-content: center;
  }
  .logo {
    font-size: 200%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    left: 0px;
  }
  .birdie-container {
    display: none;
  }
}
